<header>
  <h1>Life Game Console</h1>
</header>
<nav>
  <h3>5 Roles: </h3>
  <ul>
    <li><a routerLink="/wado">Monk</a></li>
    <li>Father</li>
    <li>Gamer</li>
    <li><a routerLink="/user">Coder</a></li>
    <li>Adventurer</li>
    <li><a routerLink="/users/test">Dashboard?</a></li>
  </ul>
  <br> <!-- Remove and fix with css later-->
  <h3>7 Virtues: </h3>
  <ul>
    <li>Power</li>
    <li>Will</li>
    <li>Loyalty</li>
    <li>Temperence</li>
    <li>Benevolence</li>
    <li>Beauty</li>
  </ul>
</nav>